@font-face {
  font-family: "onest";
  src: url("../public/fonts/Onest-Regular.ttf") format("truetype");
  font-display: swap;
}

body {
  background: var(--grey);
  color: var(--font);
  font-family: "onest", "Roboto", sans-serif;
  overflow-x: hidden;
}

input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  outline: none;
  border-radius: 14px;
  &.dark_ {
    background: linear-gradient(
      to right,
      #ffffff 0%,
      #ffffff var(--range-progress),
      #3e3e3e var(--range-progress),
      #2c2c2c 100%
    );
  }

  &.light_ {
    background: linear-gradient(
      to right,
      #000000 0%,
      #000000 var(--range-progress),
      #e5e7eb var(--range-progress),
      #e5e7eb 100%
    );
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid black;
  background: #ffffff;
}

input[type="range"]::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  background: #000000;
}

input[type="range"]::-moz-range-track {
  background: linear-gradient(
    to right,
    #000000 0%,
    #000000 var(--range-progress),
    #e5e7eb var(--range-progress),
    #e5e7eb 100%
  );
}

/* PLAYLIST */
.hidden {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.block {
  opacity: 1;
  visibility: visible;
  display: block;
}

.transition-all {
  transition: opacity 0.5s, visibility 0.5s;
}
